
<!-- Toolbar -->
<div class="toolbar" role="banner" *ngIf="name.length > 0; else emptyToolbar">
  <span style="font-size: 3em; color: #ffffff; margin-left: 0px;">
    <i class="fas fa-robot"></i>
    <!--<i class="fas fa-universal-access"></i>-->
  </span>
  <span>{{name}}</span>
  <div class="spacer"></div>
  <span style="font-size: 3em; color: #ffffff; margin-left: 0px;">
      <i class="fas fa-fist-raised"></i>
  </span>
  <span>{{strenght}}</span>
    <div class="spacer"></div>
    <span style="font-size: 3em; color: #ffffff; margin-left: 0px;">
      <i class="fas fa-brain"></i>
  </span>
  <span>{{magic}}</span>
  <div class="spacer"></div>
  <span style="font-size: 3em; color: #ffffff; margin-left: 0px;">
      <i class="fas fa-handshake"></i>
  </span>
  <span>{{heart}}</span>
  <div class="spacer"></div>
  <span style="font-size: 3em; color: #ffffff; margin-left: 0px;" *ngIf="energy > energyMax*(3/4); else threeQuarter">
      <i class="fas fa-battery-full"></i>
  </span>
  <span>{{energy}}</span>
  <div class="spacer"></div>
  <span style="font-size: 3em; color: #ffffff; margin-left: 0px;">
      <i class="fas fa-coins"></i>
  </span>
  <span>{{money}}</span>
</div>

<ng-template #emptyToolbar>
<div class="toolbar" role="banner">
</div>
</ng-template>

<ng-template #threeQuarter>
 <span style="font-size: 3em; color: #ffffff; margin-left: 0px;" *ngIf="energy > energyMax/2; else midEnergy">
      <i class="fas fa-battery-three-quarters"></i>
  </span>
</ng-template>

<ng-template #midEnergy>
 <span style="font-size: 3em; color: #ffffff; margin-left: 0px;" *ngIf="energy > energyMax/4; else quarterEnergy">
      <i class="fas fa-battery-half"></i>
  </span>
</ng-template>

<ng-template #quarterEnergy>
 <span style="font-size: 3em; color: #ffffff; margin-left: 0px;" *ngIf="energy !== 0; else noEnergy">
      <i class="fas fa-battery-quarter"></i>
  </span>
</ng-template>

<ng-template #noEnergy>
 <span style="font-size: 3em; color: #ffffff; margin-left: 0px;">
      <i class="fas fa-battery-empty"></i>
  </span>
</ng-template>

<app-start *ngIf="page === 'Intro'" (start)="start($event)"></app-start>
<app-component-test *ngIf="page !== 'Intro' && energy > 0" [page]="page" (moving)="onMove()"> </app-component-test>
<app-failure *ngIf="energy === 0" (restart)="init()"></app-failure>

<router-outlet></router-outlet>
