<div class="content">

<h2>You failed.</h2>
<h2> <span style="font-size: 5em; color: red; margin-left: 0px;">
      <i class="fas fa-battery-empty"></i>
  </span>
</h2>

<!--<div class="card highlight-card card-small">
    <span style="margin-left: 0px">Welcome !</span>
  </div>-->

  <div id="goTo" class="card-container">
    <div class="card card-small" (click)="onClick()">
    <i class="fas fa-caret-right"></i>Restart<i class="fas fa-caret-left"></i>
    </div>
 </div>

</div>
